@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/RobotoMono_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
